:: override defaults if needed
:: configure SERVER and DEVICE
echo Loading user config ...

set WINSCP="C:\Program Files (x86)\WinSCP\WinSCP.com"
set putty="C:\Program Files\PuTTy\plink.exe"
set ZIPTOOL="C:\Program Files\7-Zip\7z.exe"
set TARGZTOOL="C:\Program Files\7-Zip\7z.exe"
set TORTOISEPATH="C:\Program Files\TortoiseSVN\bin"

:: echo y for plink:
:: undefined/empty - disabled
:: "yes"/anything  - enabled
::DEVICE_ECHO_Y=yes

:: SERVER
::set SCP_SERVER_FLAGS=
::set PLINK_SERVER_FLAGS=-ssh
::set SERVER_HOSTKEY=*
set SERVER_ADDR=
set SERVER_LOGIN=
set SERVER_PW=

:: DEVICE
:: empty no - echo y
::set DEVICE_ECHO_Y=
::set SCP_DEVICE_FLAGS=
::set PLINK_DEVICE_FLAGS=-ssh
::set DEVICE_HOSTKEY=*
set DEVICE_ADDR=
set DEVICE_LOGIN=
set DEVICE_PW=